
/* -------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #f1f1f1;
    /*scroll-padding-top: 50px;*/
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 0 0 80px 0;
}

h2 {
    font-weight: 300;
    font-size: 200%;
    background-color: #1abc9c;
    color: #fff;                    /*#FBC11A galben*/ /*#008CDB albastru*/
    text-align: center;
    padding: 15px 0;
    margin-bottom: 80px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

#hk-timeline {
    display: none;
}

p {
    font-weight: 300;
    line-height: 1.45;
    font-size: 1rem;
}

/* -------------------------------------- */
/*           Navigation                   */
/* -------------------------------------- */

.navbar {
    height: 50px;
    width: 100%;
    background-color: #1abc9c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 18px 20px 16px 20px;
}

.navbar a {
    display: inline-block;
    float: left;
    margin-right: 20px;
    list-style: none;
    font-size: 1.1rem;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    padding: 0 0 7px 0;
}

.navbar a:first-child {
    margin-left: 35px;
}

.navbar a:link,
.navbar a:visited {

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-bottom 0.25s ease-in-out;
    border-bottom: 2px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}

#home {
    scroll-margin-top: 50px;
}

       /*---------------*/
      /*     Header    */
     /*---------------*/

#home-border-bottom {
    border-bottom: 2px solid #fff;
}

header {
    background-color: #1ABC9C;
    height: 100vh;
}

.hero-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 100%;
    max-width: none;
}

.hero-text-box {
    width: 40%;
}

.hero-text-box h1 {
    font-size: 5rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.hero-text-box h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    word-spacing: 1.5px;
    line-height: 145%;
}

.hero-image {
    width: 40%;
    margin: 70px 20px 0 20px;
}

.hero-image img {
    width: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.hoverable-image {
    opacity: 0;
    transition: opacity .1s ease-in;
}

a:hover img{
    opacity: 1;

}

   /*------------------------*/
  /*      Timeline          */
 /*------------------------*/

#timeline {
    scroll-margin-top: 50px;
}

.section-tribute-info {
    background: rgb(241, 241, 241);
    background: linear-gradient(0deg, rgba(241, 241, 241, 1) 0%, rgba(26, 188, 156, 1) 100%);
    cursor: default;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.section-title h2{
    margin-bottom: 0;
}

.header-queen,
.header-rook {
    background-color: #1abc9c;
    height: 70px;
    text-align: center;
    margin-bottom: 80px;
}

.header-king {
    height: 70px;
    text-align: center;
    margin-bottom: 80px;
    box-shadow: 0 0 0 1px #dddfe2;
    transition: all .2s ease-out;
}

.header-king:hover {
    box-shadow: 0 1px 8px 5px #dddfe2;
    text-decoration: none
}

.section-tribute-info h2 {
    background-color: transparent;
    display: inline-block;
}

.fa-chess-king,
.fa-chess-queen,
.fa-chess-rook {
    font-size: 150%;
    color: #fff;
    margin-right: 20px;
    border: 3px solid #fff;
    border-radius: 0.5rem;
    padding: 5px;
}

   /* The  timeline */

.timeline {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #1abc9c;
    border: 4px solid #fff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    /*border: medium solid white;*/
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

/*-----------------------------*/
/*           Quotes            */
/*-----------------------------*/

#quotes {
    scroll-margin-top: 50px
}

.section-quotes h2 {
    display: inline-block;
}

.quotes-container {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
}

.quote1,
.quote2,
.quote3 {
    width: 33%;
    margin: 0 20px 0 0;
    padding: 20px 20px 100px 20px;
    background-color: #fff;
    border-top: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
    border-bottom: 1px #e0e0e0 solid;
    border-left: 5px #1ABC9C solid;
    border-radius: 15px;
    position: relative;
}

.quote3 {
    margin-right: 0;
}

.quote1 img,
.quote2 img,
.quote3 img {
    display: block;
    margin: 15px auto 30px auto;
    width: 200px;
    height: auto;
    border: 2px #e0e0e0 solid;
    border-radius: 50%;
}

.wc-names {
    color: #1ABC9C;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
}

/*-----------------------------*/
/*        Bestgames            */
/*-----------------------------*/

#best-games {
    scroll-margin-top: 50px
}

.section-best-games h2 {
    display: inline-block;
}

.li-games {
    margin: 0 auto;
    text-align: center;
    display: block;
}

/*-----------------------------*/
/*        Footer               */
/*-----------------------------*/

footer {
    background-image: linear-gradient(to bottom, #169e83, #052720);
    text-align: center;
    font-weight: normal;
    padding: 40px 20px;
    color: #fff;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.column1,
.column2 {
    width: 50%;
    margin-right: 20px;
}

.column2 p {
    display: block;
    color: #dee2e6;
    margin: 10px 20px;
    text-decoration: none;
    text-align: left;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
}

img.chesscom,
img.lichess,
img.chess24 {
    height: 20px;
    left: -30px;
    position: absolute;
}

footer a:link,
footer a:visited {
    display: block;
    color: #dee2e6;
    margin: 15px 20px;
    text-decoration: none;
    text-align: left;
    font-size: .9rem;
    opacity: 1;
    transition: all .2s ease-out;
    position: relative;
}

footer a:hover,
footer a:active {
    text-decoration: underline;
    color: #fff;
    opacity: 1;
}

.fa-heart {
    color: #ff0000;
    padding: 0 2px;
}

.hr-footer {
    margin: 30px 20px 20px 20px;
    color: #dee2e6;
}

.author {
    margin: 30px 0 20px 0;
    font-weight: normal;
    font-size: 0.9rem;
    color: #dee2e6;
}

/*-----------------*/
/*     Queries     */
/*-----------------*/

/* Big tablet to 1200px (widths smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row {
        padding: 0 2%;
    }

    .hero-row {
        align-content: center;
        height: 100%;
    }
    .hero-text-box {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100%;
        flex-direction: column;
    }
    .hero-text-box h1{
        width: 100%;
        padding: 0 2%;
        font-size: 3rem;
        text-align: center;
    }
    .hero-image{
        width: 40%;
    }
    .timeline {
        width: 100%;
    }
    /*width=750 height=500*/
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    section {
        padding: 0 0 60px 0;
    }

    .hero-row {
        align-items: center;
    }

    .hero-text-box h1 {
        font-size: 3rem;
    }

    .hero-text-box h3 {
        font-size: 0.9rem;
    }

    .timeline {
        width: 100%;
    }

    .header-queen, .header-rook {
        margin-bottom: 60px;
    }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }

    #hk-long-tl{
        display: none;
    }
    #hk-timeline{
        display: inline-block;
    }

    section {
        padding: 0 0 40px 0;
    }

    header {
        height: auto;
    }

    .hero-row {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-text-box {
        width: 100%;
    }

    .hero-text-box h1 {
        font-size: 3rem;
    }

    /*.hero-text-box h3 {
        font-size: 0.8rem;
    }*/

    .hero-image {
        width: 75%;
    }

    .timeline {
        width: 100%;
    }

    .header-queen, .header-rook {
        margin-bottom: 40px;
    }

    iframe {
        width: 480px;
        height: 300px;
    }

    .quotes-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quote1,
    .quote2,
    .quote3 {
        width: 100%;
        margin: 20px 20px;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }
    section {
        padding: 0 0 20px 0;
    }

    .timeline {
        width: 100%;
    }

    .navbar a:first-child{
        margin-left: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar a {
        font-size: .6rem;
        margin-right: 0;
    }

    .hero-text-box h1 {
        font-size: 1.5rem;
    }

    iframe {
        width: 350px;
        height: 230px;
    }
}

