html {
			font-size: 10px;
		}
		#main {
            max-width:1366px;
            margin-top:30px;
            margin-bottom: 30px;
            margin-right: 8px;
            margin-left: 8px;
            background-color: #eee;
            padding: 15px;
            border-radius:5px;
            text-align: center;
            font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #333;
   		}
   		@media (max-width: 480px) {
             #main {
                margin: 0;
                }
        }
		#title {
            font-size: 4rem;
            margin-bottom: 0;
		}
		@media (max-width: 480px) {
            h1 {
               font-size: 3.5rem;
               line-height: 1.2;
               }
        }
        img {
            max-width: 100%;
            display: block;
            height: auto;
            margin: 0 auto;
        }
		#img-div {
            background-color: white;
            padding: 20px;
            margin: 0;
		}
		#image {
               max-width: 100%;
               border-radius: 10px;
		}
		#img-caption {
			padding-top: 15px;
		}
		@media (max-width: 480px) {
       #img-caption {
           font-size: 1.4rem;
               }
        }
		
		.opinions{
			max-width: 540px;
			text-align: left;
			margin-right: auto;
			margin-left: auto;
			margin-top: 0;
			margin-bottom: 0;
		}
		ul {
			max-width: 550px;
			text-align: left;
			margin-bottom: 50px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 0;
			display: block;
			} 

		li {
			margin-top: 16px;
			margin-bottom:16px;
		}
		#headline {
			margin: 50px 0;
            text-align: center;
		}