                           
     /*   General setup   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background-image: url("img/chess-bg-survey-form.png");
    background-position: left top;
    background-position-x: left;
    background-position-y: top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #F4F5F5 ;
    margin-top: 0;
    line-height: 1.5;
    font-weight: 400;
        }

.container {
    max-width: 750px;
    margin: 0 auto 40px auto;
}

section {
    padding: 0 0 80px 0;
}

    /*     Header    */

header {
    width: 100%;
    margin-bottom: 30px;
}

.academy-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 0 auto;
    background-color: #00BF6F;   /*Main color*/
}      

.name-academy {
    text-align: left;
    margin: 0 0 0 15px;

}

.fa-chess {
    font-size: 75px;
    color: #fff;
    text-align: right;
    margin-right: 15px;
}

.name-academy h1 {
    color: #fff;
    font-size: 200%;
    font-weight: 900;
    font-family: "Raleway", Arial, sans-serif;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 0;
}

.name-academy h2 {
    color: #fff;
    font-size: 160%;
    font-weight: 700;
    font-family: "Raleway", Arial, sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 0;
}

.survey-title {
    color: #00BF6F;
    text-align: center;
    font-size: 180%;
    font-weight: 900;
    font-family: "Raleway", Arial, sans-serif;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin: 30px 0 0 0;
}

#description {
    color: #00BF6F;
    font-size:16px; 
    font-weight:400;
    font-style: italic;
    margin-bottom: 0.5rem;
    text-align: center;
}

    /* FORM */

form {
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 40px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    background-color: #fff;
    border:thin solid #dadce0;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    width: 100%;
    padding: 0.3rem 0.7rem;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}

.question-options label {
    font-size: 1rem;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type=text],
input[type=email],
input[type=number],
select {
    border: 1px solid #aaaaaa;
    transition: all 0.25s;
    outline: none;
    border-radius: 3px;
    color: #202520;
    background-color:#F5F6F7;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
select:focus {
    color: #555;
    border: 1px solid rgba(82,168,236,0.8);
    border-color: rgba(82,168,236,0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}

.input-checkbox,
.input-radio {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    font-size: 1rem;
}

.input-textarea {
    min-height: 100px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    resize: vertical;
    color: #202520;
    background-color:#F5F6F7;
    border: 1px solid #aaaaaa;
    transition: all 0.25s;
    outline: none;
}

.input-textarea:focus {
    color: #555;
    border: 1px solid rgba(82,168,236,0.8);
    border-color: rgba(82,168,236,0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}

p {
    margin: 0 0 8px 0;
    font-size: 1.125rem;
}

.submit-btn {
    display: block;
    position: relative;
    padding: 0.75rem 3rem;
    background-color: #00BF6F;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    outline:none;
    border:none;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 3px #009959;
}

.submit-btn:hover {
    background-color: #00b368;
}

.submit-btn:active {
  box-shadow: none;
  top: 3px;
} 

.fa-chess-board {
    font-size: 1.5rem;
    color: #fff;
    text-align: right;
    margin-right: 20px;
}

     /*     Footer    */

footer {
    background-color: #00BF6F;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 150%;
    font-weight:700;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.footer-rightside{
    margin: 25px 100px 25px 0;
}

.footer-leftside{
    margin: 25px 0 25px 100px;
}

.footer-leftside .fa-chess{
    transform: rotate(-10deg);
    transition: transform 0.2s ease-out;
}

.footer-leftside .fa-chess:hover {
    transform: scale(1.2) rotate(0deg);
}

.footer-rightside p {
    color: #fff;
    font-size: 70%;
    font-weight: 200;
    font-family: Open Sans;
    text-align: center;
}

.footer-leftside .fa-chess {
    font-size: 50px;
}

a .fa-facebook-square,
a .fa-instagram-square,
a .fa-twitter-square {
    color: #f5f5f5;
    transition: all 0.3s ease;
}

a .fa-facebook-square:hover,
a .fa-instagram-square:hover,
a .fa-twitter-square:hover {
    color: #fff;
    transform: scale(1.1) rotate(360deg);
}

.footer-line {
  display:flex;
}

.color1 {
  width:16.67%;
  height:5px;
  background-color:#FFD600;
}
.color2 {
  width:16.67%;
  height:5px;
  background-color:#FF700F;
}
.color3 {
  width:16.7%;
  height:5px;
  background-color:#FF161F;
}
.color4 {
  width:16.7%;
  height:5px;
  background-color:#009164;
}
.color5 {
  width:16.7%;
  height:5px;
  background-color:#D31886;
}
.color6 {
 width:16.6%;
  height:5px;
  background-color:#005CA3;
}


/*-----------------*/
/*     Queries     */
/*-----------------*/

/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
    .container { padding: 0 2%; }
    #description {
    margin: 0 4%;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1024px) {
    body { font-size: 1rem; }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 1rem; }
    .container {padding: 0 4%; }
    section {
    padding: 0 0 60px 0;
    }
} 

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .container {
    margin: 0 auto 30px auto;
    }

    section {
    padding: 0 0 40px 0;
    }
    footer {
    font-size: 120%;
    font-weight:700;
    }

    .footer-rightside{
    margin: 30px 50px 30px 0;
    }

    .footer-leftside {
    margin: 30px 0 30px 50px;
    }

}   